<table width="600px" style="background-color: #B88C5F, color: #703A3A">
	<tr>
		<td>
			<h1 style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Thanks for Creating an Account with Delistcious</h1>
		</td>
	</tr>
	<tr>	
		<td>
			<p style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;"><%= @user %>, we hope you enjoy the speed at which you can plan meals now </p>
			<p style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">What will you do with all of that extra time?</p>
		</td>
	</tr>
</table>

