<h1>Reset Your Password</h1>

<p>
  <%= @greeting %>, someone has requested that you reset your password. Hopefully that was you. 
</p>
<p>
  <%= link_to "Follow this link to reset your password" %>
</p>
