<div class="container">
	<div class="row">
		<h1 class="text-center one-meal">This Week's Meal Plan</h1>
	</div>

	<div class="row one-meal">
		<div class="col-sm-4 text-center">
			<div class="image-background">
				<%= image_tag("minestrone.jpg", height: "200") %>
			</div>
		</div>
		<div class="col-sm-8 text-left">
			<h2>Minestrone Soup</h2>
			<h4>Ingredients:</h4>
			<p>Beans</p>
			<p>Carrots</p>
			<p>Broth</p>
	
				<div class="btn-group">
					<button type="button" class="btn btn-try-again">Find Another Recipe</button>			
					<button type="button" class="btn btn-hate-it">Never Show Me This Recipe</button>	
			</div>
		</div>
	</div>

	<div class="row one-meal">
		<div class="col-sm-4 text-center">
			<div class="image-background">
				<%= image_tag("taco-salad.jpg", height: "200") %>
			</div>
		</div>
		<div class="col-sm-8 text-left">
			<h2>Taco Salad</h2>
			<h4>Ingredients:</h4>
			<p>Ground Beef</p>
			<p>Tomatoes</p>
			<p>Lettuce</p>
				<div class="btn-group">
					<button type="button" class="btn btn-try-again">Find Another Recipe</button>			
					<button type="button" class="btn btn-hate-it">Never Show Me This Recipe</button>	
			</div>
		</div>
	</div>

		<div class="row one-meal">
		<div class="col-sm-4 text-center">
			<div class="image-background">
				<%= image_tag("bbq-plate.jpg", height: "200") %>
			</div>
		</div>
		<div class="col-sm-8 text-left">
			<h2>BBQ Plate</h2>
			<h4>Ingredients:</h4>
			<p>Brisket</p>
			<p>Beans</p>
			<p>Sausage</p>
				<div class="btn-group">
					<button type="button" class="btn btn-try-again">Find Another Recipe</button>			
					<button type="button" class="btn btn-hate-it">Never Show Me This Recipe</button>	
			</div>
		</div>
	</div>

	<div class="text-center" id="grocery-list">
		<h2>Grocery List</h2>
			<p>2 Cans of Beans</p>
			<p>4 Carrots</p>
			<p>32 oz Broth</p>
			<p>2lb Ground Beef</p>
			<p>2 Tomatoes</p>
			<p>1 Head of Lettuce</p>
			<p>1 lb Brisket</p>
			<p>0.5 lbs Sausage</p>

			<button type="button" class="btn btn-default">Export to Wunderlist</button>	
	</div>


</div>
