body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif !important;
  background-color: #B88C5F !important;
  color: #703A3A !important	;
}

h1 {
  font-family: 'Lobster', cursive !important;
}

.hidden {
  display: none;
}

#navbar {
  background-color: #D2A176 !important;
  border-color: #D2A176 !important;
}

#navbar a {
  color: #ffffff;
}

#navbar a:hover {
  color: #703A3A;
}

.navbar-brand {
  font-family: 'Lobster', cursive !important;
  font-size: 30px !important;
}

.navbar-toggle {
  border-color: #703A3A !important;
}

.navbar-toggle:hover {
  background-color: #703A3A !important;
}

.navbar-inverse .navbar-collapse {
  border-color: #703A3A !important;
}

.btn-try-again {
  background-color: #28A8A8;
  color: #ffffff;
}

.btn-try-again:hover {
  background-color: #08A8A8;
}

.btn-hate-it {
  background-color: #004e4e;
  color: #ffffff;
}

