.account-tabs {
	background-color: #D2A176;
	border-radius: 25px;
	margin-bottom: 20px;
	padding: 20px;
}

.image-background {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #703A3A;
}

.one-meal {
  padding-bottom: 30px;
  border-bottom: 2px dashed #703A3A;
  margin-bottom: 20px;
  width: 100%;
}

#grocery-list {
  padding-bottom: 40px;
}

.dropdown {
  display:block;
  text-align: center;
}

#favorite-dropdown {
  min-width: 50px;
  max-width: 50px;
  position: relative;
}

#get-plan-btn {
  margin-top: 20px;
}

#banned-food-list {
  margin-top: 10px; 
}
#hated-food-input {
  width: 150px;
}