.account-tabs {
	background-color: #D2A176;
	border-radius: 25px;
	margin-bottom: 20px;
	padding: 20px;
}

.image-background {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #703A3A;
}


