.btn-room {
	padding-bottom: 5px;
}

#account {
	background-color: #B88C5F;
	padding: 20px; 
}

#account-header{
	font-family: 'Lobster', cursive !important;
}

.hate-it {
	background-color: #d3d3d3;
}

.hated-food {
	padding: 20px;
}

#hated-foods-list {
	padding-bottom: 20px;
}

.user-form-label {
	width: 160px;
	text-align: right;
	padding-right: 2px;
}

.user-signin-form-label {
	width: 70px;
	text-align: right;
	padding-right: 2px;
}

#register-link {
	font-weight: bold;
	padding-top: 10px;
}