<li><%= link_to "Plan Meals", new_meal_path %></li>
<li><%= link_to "Current Plan", meal_plan_path %></li>
<!-- <li><%= link_to "Account", account_path %></li>
 --><li><%= link_to "Log Out", logout_path, id: "sign_out" %></li>